$color-orange: #FF6B35;
$color-black: #00171F;
$color-white: #ffff;
$color-btn: #003459;
$color-icon: #007EA7;
$color-blue: #00A8E8;
$color-logo: #025D6A;
$color-bg-title: rgba(2, 93, 106, 0.2);


$limit-desctop: 1440px;
$limit-small-desctop: 1200px;
$limit-tablet: 1024px;
$limit-mobile: 768px;